body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid  #090725;
  }
  th, td {
    padding: 10px;
    border: 2px solid #0b0920;
    text-align: left;
    vertical-align: top;
    margin: 20px;
  }
  th {
    border: 5px solid #090725;
    width: 30%;
    font-weight: bold;
    font-size: 20px;
  }
  td {
    border: 5px solid #090725;
    /* border-top:2px solid #190ccb; */

  }
  .bordered {
    border: 5px solid #090725!important
  }
  td p {
    margin: 0;
    border: 2px solid #190ccb;
  }
  td .answer {
    margin-left: 20px;
    font-style: italic;
  }

  h2{
    font-size: 28px;
    color: red;
    position:relative;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: underline ;
  }