<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/css/assess.css">
    <title>LifeLine</title>
    
</head>
<body>
<main>

<h2> Self Assessment Report </h2>
<table class="table bordered">
    <thead>
        <tr class="bordered">
    <th scope="col" class="bordered">Test Name </th>
    <th scope="col" class="bordered">Results</th>
        </tr>
        <tr>
            <td class="question">Over the past 2 weeks, how often have you been bothered by any of the following problems: Little interest or pleasure in doing things?</td>
            <td class="answer">Not At All</td>
        </tr>
        <tr>
              <td class="question">Over the past 2 weeks, how often have you been bothered by any of the following problems: Feeling down, depressed or hopless?</td>
              <td class="answer">More Than Half the Days</td>
        </tr>
        <tr>
              <td class="question">Over the past 2 weeks, how often have you been bothered by any of the following problems: Trouble falling asleep, staying asleep, or sleeping too much?</td>
              <td class="answer">Several Days</td>
        </tr>
        <tr>
              <td class="question">Over the past 2 weeks, how often have you been bothered by any of the following problems: Feeling tired or having little energy?</td>
              <td class="answer">Not At All</td>
        </tr>
        <tr>
              <td class="question">Over the past 2 weeks, how often have you been bothered by any of the following problems: Poor appetite or overeating?</td>
              <td class="answer">Nearly Every Day</td>
        </tr>
        <tr>
              <td class="question">Over the past 2 weeks, how often have you been bothered by any of the following problems: Feeling bad about yourself - or that you\'re a failure or have let yourself or your family down?</td>
              <td class="answer">More Than Half the Days</td>
        </tr>
        <tr>
              <td class="question">Over the past 2 weeks, how often have you been bothered by any of the following problems: Trouble concentrating on things, such as reading the newspaper or watching television?</td>
              <td class="answer">Not At All</td>
        </tr>
        <tr>
            <td class="question">Over the past 2 weeks, how often have you been bothered by any of the following problems: Moving or speaking so slowly that other people could have noticed. Or, the opposite - being so fidgety or restless that you have been moving around a lot more than usual?</td>
            <td class="answer">Several Days</td>
        </tr>
        <tr>
            <td class="question">Over the past 2 weeks, how often have you been bothered by any of the following problems: Thoughts that you would be better off dead or of hurting yourself in some way?</td>
            <td class="answer">Nearly Every Day</td>
        </tr>
    </thead>


    </th>
</table>

</main>


</body>
</html>